*.py[ciod]
*.egg-info
*.so
*.dll

build
dist

.vscode
imgui.ini

/adis16448/_init_adis16448.py
/adis16448/pkgcfg.py
/adis16448/rpy-include
/adis16448/version.py

/adis16470/_init_adis16470.py
/adis16470/pkgcfg.py
/adis16470/rpy-include
/adis16470/version.py